//IMPORTS
@import '../../styles/base/variables';
@import '../../styles/function/mixins';

.banner{
  min-height: 90vh;
  width: 100%;
  @include flex(row, center, stretch);
}

.bannerLeft,
.bannerRight{
  flex: 1;
}

.bannerLeft{
  background-color: red;
  @include flex(column, center, center);
}

.bannerRight{
  background-color: blue;
  @include flex(column, center, center);
}

@media only screen and (max-width: 768px){
  .banner{
    @include flex(column, center, stretch);
  }
}

