//IMPORTS
@import '../base/variables';
@import '../function/mixins';

.contactPage{
    min-height: 90vh;
    width: 100%;
    @include flex(row, center, stretch);
}

.bannerImage,
.bannerContext{
    flex: 1 1 40rem;
}

.bannerImage{
    @include flex(column, center, center);
    background-image: url('/assets/images/PaintBrush.jpg');
    @include position(center, no-repeat, cover);
}

.bannerContext{
    display: grid;
    place-items: center;
}

// Media Queries
@media only screen and (max-width: 768px){
    .bannerImage{
        display: none;
    }
}

