//IMPORTS
@import '../../styles/base/variables';
@import '../../styles/function/mixins';

.fullBanner,
.halfBanner,
.quarterBanner{
  @include flex(column, center, center, 12rem);
  width: 100%;
  padding: 12rem;
}

.fullBanner{
  min-height: 100vh;
}

.halfBanner{
  min-height: 50vh;
}

.quarterBanner{
  min-height: 25vh;
}